<div class="container">
   <h1>Dashboard</h1>
   <br>
   <strong>Search:</strong> <input type="text"
                                   placeholder="Search List"
                                   ng-model="searchText">
   <br>
   <br>
   <div class="panel panel-default dashboard-list">
     <div class="panel-heading">
       <h4>All Todo List</h4>
     </div>

     <ul class="list-group" ng-show="ctrl.lists == 0">
       <li class="list-group-item">
         No List
       </li>
     </ul>

     <form id="new_list"
           ng-submit="ctrl.submit()">
       <div class="input-group">
         <input id="todoDescription"
                class="form-control input-lg"
                type="text"
                autofocus="autofocus"
                placeholder="New List Name"
                maxlength="255"
                ng-model="ctrl.list.name"
                required="required">
          <div ng-messages="form.ctrl.list.name.$error"
               ng-if="form.ctrl.list.name.$touched">
            <div ng-message="required">List name is required!</div>
            <div ng-message="maxlength">Must be less than 255 characters!</div>
          </div>
        <span class="input-group-btn">
          <button class="btn btn-default btn-lg"
                  type="submit">Create</button>
        </span>
       </div>
     </form>

     <ul　class="list-group">
       <li class="list-group-item"
           ng-repeat="list in ctrl.lists | filter:searchText">
           <div class="todo-list-description">
             <a href="/index/todo_lists/{{ list.id }}">
               {{ list.name }}
             </a>
           </div>
           <div class="todo-list-buttons pull-right">
             <button type="button"
                     class="btn btn-danger btn-xs pull-right"
                     ng-click="ctrl.remove(list.id)">
                     Delete
             </button>
           </div>
       </li>
     </ul>
   </div>
</div>
