<br>
<br>
<div class="jumbotron text-center">
  <div class="container">
    <h2>Accomplish more, every day.</h2>
    <br>
    <p>Welcome to the Todo List App.<br>
       Millions of people rely on Todoist to get things done.</p>
    <br>
    <a ui-sref="index.dashboard" class="btn btn-primary">Get started</a>
  </div>
</div>
