<div class="container" ng-init="init()">
  <h1>Todo List</h1>
  <br>
  <div class="panel panel-default">

    <div class="panel-heading">
      <h4>{{list.name}}</h4>
    </div>

    <form id="new_todo" ng-submit="addTodo(todoDescription)">
      <div class="input-group">
        <input type="text"
               id="todoDescription"
               class="form-control input-lg"
               autofocus="autofocus"
               maxlength="255"
               placeholder="New Task"
               ng-model="todoDescription"
               required="required">
        <div ng-messages="form.todoDescription.$error"
             ng-if="form.todoDescription.$touched">
          <div ng-message="required">Task is required!</div>
          <div ng-message="maxlength">Must be less than 255 characters!</div>
        </div>
        <button class="btn btn-default btn-lg" type="submit">Add</button>
      </div>
    </form>

    <div class="button-group btn-group-justified" role="group">
      <div class="btn-group" role="group">
        <button type="button"
                class="btn btn-default"
                ng-click="changeFilter()"
                ng-class="active">
                <span class="badge">All</span>
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button"
                class="btn btn btn-default"
                ng-click="changeFilter(filter.remaining)"
                ng-class="{active: currentFilter == filter.remaining}">Incompleted
                <span class="badge">{{ list.todos.remaining.length }}</span>
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button"
                class="btn btn-default"
                ng-click="changeFilter(filter.done)"
                ng-class="{active: currentFilter == filter.done}">Completed
                <span class="badge">{{ doneCount }}</span>
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button"
                class="btn btn-default">
                <span class="badge">Delete All Completed</span></button>
      </div>
    </div>

    <ul class="list-group">
      <li class="list-group-item"
          ng-repeat="todo in list.todos | filter:currentFilter"
          ng-class="{ done: todo.done }">
        <div class="todo-done">
          <input type="checkbox"
                 ng-model="todo.done"
                 ng-click="toggleTodo(todo)">
        </div>
        <div class="todo-description">
          <span class="done-{{todo.done}}">{{todo.description}}</span>
        </div>
        <div class="todo-buttons pull-right">
          <button class="btn btn-danger btn-xs pull-right"
                  type="button"
                  ng-click="deleteTodo(todo)">
            <span>Delete</span>
          </button>
        </div>
      </li>
    </ul>
  </div>
  <br>
  <a href="/#/dashboard" class="btn btn-default">Back</a>
</div>
