<!DOCTYPE html>
<html ng-app="todoApp">
<head>
  <title>TodoRailsAngularjs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- <nav class="navbar navbar-default ">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">Todo List</a>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a ui-sref="home">Home</a></li>
              <li><a ui-sref="index.dashboard">Dashboard</a></li>
              <li><a ui-sref="index.about">About</a></li>
              <li><a ui-sref="index.help">Help</a></li>
          </ul>
        </div>
    </div>
  </nav> -->

  <header class="navbar navbar-default nav navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">Todo List</a>
        <ul class="nav navbar-nav">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="index.dashboard">Dashboard</a></li>
            <li><a ui-sref="index.about">About</a></li>
            <li><a ui-sref="index.help">Help</a></li>
        </ul>
    </div>
  </header>

  <%= yield %>

</body>
</html>
