<!DOCTYPE html>
<html ng-app="todoApp">
<head>
  <base href="/">
  <title>TodoRailsAngularjs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-default">
    <div class="navbar-header">
      <ul class="nav nav-pills">
        <li role="presentation"><a ui-sref="dashboard">Home</a></li>
        <li role="presentation"><a ui-sref="#">Profile</a></li>
        <li role="presentation"><a ui-sref="#">Help</a></li>
        <li role="presentation"><a ui-sref="#">Settings</a></li>
      </ul>
    </div>
  </header>

  <%= yield %>

</body>
</html>
