<!DOCTYPE html>
<html ng-app="todoApp">
<head>
  <title>TodoRailsAngularjs</title>
  <base href="/">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-default nav navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">Todo List</a>
        <ul class="nav navbar-nav">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="index.dashboard">Dashboard</a></li>
            <li><a ui-sref="about">About</a></li>
            <li><a ui-sref="help">Help</a></li>
        </ul>
    </div>
  </header>
  <br>
  <br>
  <div class="container">
    <ui-view></ui-view>
  </div>

</body>
</html>
